.main {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  justify-content: center;
  align-items: center;
}

.firstSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.firstSectionTop {
  display: flex;
  flex-direction: column;

}
.firstSectionTopImageDesktop {
  display: none;
}

.firstSectionTopText {
  display: flex;
  flex-direction: column;
}

.firstSectionTopTextHeader {
  font-size: 44px;
  margin: 10px 0 10px 0;
  font-weight: 800;
}

.firstSectionTopTextContent {
  display: flex;
  flex-direction: column;
}

.firstSectionTopTextContentParagraph {
  opacity: 0.7;
  font-size: 15px;
  margin-top: 5px;
  line-height: 28px;
}

.firstSectionTopTextContentBtn {
  background-color: hsl(5, 85%, 63%);
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 600;
  max-width: 172.5px;
  transition: ease-in-out .3s;
}

.firstSectionBottom {
  margin-top: 40px;
  background-color: hsl(240, 100%, 5%);
  padding: 0px 25px;
  color: white;
}

.firstSectionBottomHeader {
  font-weight: 600;
  color: hsl(35, 77%, 62%);
  margin-bottom: 30px;
  font-size: 28px;
}

.firstSectionBottomItemHeader {
  margin-bottom: 0;
  transition: ease-in-out .3s;
}

.firstSectionBottomItemHeader:hover {
  color:hsl(35, 77%, 62%);
  cursor: pointer;
}



.firstSectionBottomItemExcerpt {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 35px;
}

.secondSection {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.secondSectionNewsItem {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  transition: ease-in-out .3s;
}

.secondSectionNewsItem:hover {
  color:hsl(35, 77%, 62%);
  cursor: pointer;
}

.secondSectionNewsItemPicture {
  width: 50%;
  max-width: 90px;
}

.secondSectionNewsItemText {
  display: flex;
  flex-direction: column;
}

.secondSectionNewsItemTextNumber {
  margin: 0;
  opacity: 0.2;
  font-size: 30px;
  margin-bottom: 10px;
}

.secondSectionNewsItemTextHeader {
  margin: 0;
  margin-bottom: 5px;
}

.secondSectionNewsItemTextExcerpt {
  margin: 0;
  font-size: 15px;
  opacity: 0.7;
  line-height: 22px;
}

@media screen and (min-width: 1440px) {

  .firstSectionTopImageMobile {
    display: none;
  }

  .firstSectionTopImageDesktop {
    display: block;
  }

  .firstSection {
    flex-direction: row;
    gap: 20px;
    max-width: 1300px;
  }

  .firstSectionTop {
    width: 70%;
  }

  .firstSectionBottom {
    margin-top: 0;
    width: 30%;
  }

  .firstSectionTopText {
    flex-direction: row;
    gap: 50px;
  }

  .firstSectionTopTextHeader {
    font-size: 55px;
    width: 40%;
    margin-bottom: 0;
  }

  .firstSectionTopTextContent {
    margin-top: 10px;
    width: 50%;
    justify-content: space-between;
  }

  .firstSectionTopTextContentParagraph {
    font-size: 15px;
  }

  .firstSectionTopTextContentBtn:hover {
    background-color: black;
    cursor: pointer;
  }

  .firstSectionBottomHeader {
    font-size: 40px;
    margin-bottom: 45px;
  }

  .secondSection {
    margin: 80px 0 40px 0;
    flex-direction: row;
  }
}
